
<div class="frm">
    <div class="imgcontainer">
        <img src="/img/loginAvatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw" required>

        <button id="login">Login</button>
    </div>
</div>

<script>
    $("#login").click(function () {
        var userName = $("#uname").val();
        var password = $("#psw").val();

        var GUID = "0739-E657-C4F4-98B4";
        var data = JSON.stringify({ "Username": userName, "Password": password });
        $.ajax({
            url: "https://api.akilliticaretim.com/api/Auth/Login",
            type: "POST",
            headers: { "GUID": GUID },
            contentType: "application/json",
            data: data,
            success: function (result) {
                setCookie("Token", result.data.token);
                var url = '@Url.Action("Index", "Product")';
                window.location.href = url;
            },
            error: function (xhr, status, error) {
                alert("Hata : " + error);
            }
        });
    });

    function setCookie(key, value) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (value * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }
</script>

